@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply bg-[#D6D7D6];
  }
	h1,
	h2 {
		@apply text-white;
    	@apply m-5
	}
	h1 {
		@apply text-6xl;
	}
	h2 {
		@apply text-4xl;
	}
	h3{
		@apply text-4xl;
		@apply text-[#160c32];
		@apply font-semibold;
		@apply p-3;
	}
	.p-tooltip {
		background-color: white !important; /* or use another color */
		color: white !important;
		border-radius: 4px;
		padding: 4px 8px;
		font-size: 0.875rem;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	  }
	  
}
